#footer {
   position: relative;
   height: 70px;
   margin-top:-70px;
   clear:both;
   width: calc(100% - 250px);
   background-color: #24252d;
   color: white;
   text-align: left;
   padding:20px 20px 20px 20px;
   font-size:10px;
   transition: all 0.3s;  
	margin-left:250px;
}
#footer.active {
   width:100%;
   margin-left:0px;
}

html, body{
	height:100%;
}



/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
	height:81px;
    background: #24252d;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
	margin-top:-40px;
	margin-left: -40px;
	margin-right:-40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
	min-height:100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #373743;
    color: #fff;
    transition: all 0.3s;
	font-size:15px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #24252d;
	height:81px;
}

#sidebar .sidebar-subheader {
    background: #24252d;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	font-size:18px;
}



#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px 10px 5px 10px;
    display: block;
}

#sidebar ul li a:hover {
    background: #6e6f87;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #9394b4;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #262f3b;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px 40px 110px 40px;
    min-height: 100vh;
    transition: all 0.3s;
	overflow:auto;
	margin-left:250px;
	background-color: #494a5a;
}

#content.active {
    width: 100%;
}

.vshide {
	
	visibility: hidden;
}

.test {
	background-color: blue;
	height: 20px;
	width: 40px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1220px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
		margin-left:0px;
        width: 100%;
    }
    #content.active {
		margin-left:250px;
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
	.vshide {
	visibility: visible;
	}
	#footer {
        width:100%;
		margin-left:0px;
    }
    #footer.active {
        width: calc(100% - 250px);
		margin-left:250px;
    }
}