.leftCol {
    float: left;
    width: 100%;
	overflow:auto;
}
table.wikitablewide {
	margin: 1em 0;
    background-color: #373743;
	border-style: solid;
	border-width: 1px;
	border-color: #5c5d70;
    border-collapse: collapse;
    color: #ffffff;
}
table.wikitablewide td {
	border-style: solid;
	border-width: 1px;
	border-color: #5c5d70;
    border-collapse: collapse;
}
.tableOfContents{
	float:right;
}
.mainContent{
	float:left;
}
