table.wikitable {
    margin: 1em 0;
    background-color: #3b434e;
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
    color: #ffffff;
	height: 420px;
}
table.wikitable td {
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
}
table.wikitable-a {
    margin: 0 0 1em 0;
    background-color: #3b434e;
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
    color: #ffffff;
}
table.wikitable-a td {
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
}
table.wikitablewide {
	margin: 1em 0;
    background-color: #3b434e;
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
    color: #ffffff;
}
table.wikitablewide td {
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
}
.leftCol {
    float: left;
    width: 50%;
}
.rightCol {
	float: left;
    width: calc(50% - 10px);
    margin-left: 10px;
}
.wideCol {
	width: 100%;
}
.btnContainer {
	float: left;
	height: 35px;
	width: 90px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.btnImage {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.btnOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #262f3b;
	opacity: 0.85;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: .2s ease;
}
.btnContainer:hover .btnOverlay {
	width: 0%;
}
.activeButton {
	width: 0%;
}
.btnExpr {
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;  
}
.btnExpr:hover {	
	box-shadow: 0px 0px 10px white;
}
.btnExpr:active {	
	box-shadow: 1px 1px 4px white, -1px 1px 4px white, 1px -1px 4px white, -1px -1px 4px white;
}
.btnExprActive {
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer; 
	box-shadow: 1px 1px 4px white, -1px 1px 4px white, 1px -1px 4px white, -1px -1px 4px white;
}
.btnGeneric {
	float: left;
	height: 30px;
	border-radius: 2.5px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;  
}



@media screen and (max-width: 1279px) {
	table.wikitable {
		height: 480px;
	}
}