table.wikitable {
    margin: 1em 0;
    background-color: #3b434e;
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
    color: #ffffff;
}
table.wikitable td {
	border-style: solid;
	border-width: 1px;
	border-color: #515c6b;
    border-collapse: collapse;
}
.leftCol {
    float: left;
    width: 50%;
}
.rightCol {
    float: left;
    width: calc(50% - 10px);
    margin-left: 10px;
}


@media screen and (max-width: 1279px) {
	table.wikitable {
		height: 450px;
	}
}