table.wikitablewide {
	margin: 1em 0;
    background-color: #373743;
	border-style: solid;
	border-width: 1px;
	border-color: #5c5d70;
    border-collapse: collapse;
    color: #ffffff;
}
table.wikitablewide td {
	border-style: solid;
	border-width: 1px;
	border-color: #5c5d70;
    border-collapse: collapse;
}
.mainBG {
    background-image: url('https://media.alg-wiki.com/General/story_main_folder.png');
    width:198px;
    height:147px;
    float:left;
    margin-left: 10px;
    margin-top:10px;
}
.mainTextChapCount {
	color:gray;
    padding-left:140px;
    padding-top:25px;
}
.mainTextTitle {
	color:white;
    padding-left:25px;
    padding-top:70px;    
    font-size:14px;
}
.eventBG {
    background-image: url('https://media.alg-wiki.com/General/story_event_folder.png');
    width:198px;
    height:147px;
    float:left;
    margin-left: 10px;
    margin-top:10px;
}
.charBG {
    width:198px;
    height:147px;
    float:left;
    margin-left: 10px;
    margin-top:10px;
}